body
{   
    background-color: #191d21; 
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #efefef;
}

a:link 
{
    color: #fff;
	text-decoration: none; /* BRAK PODKRESLENIA, POGRUBIENIA, KURSYWY ITP. W TEKSCIE*/
}

a:visited 
{
    color: #fff;
}

a:hover 
{
    color: #fff;
}

a:active 
{    
	color: #fff;
}

.container
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	padding: 0;
	margin-bottom: 25px;
}

.postcard
{
	display: inline-block; /*DZIALA JAK FLOAT:LEFT;*/
	width: 460px;
	text-align: center;
	padding: 5px;
}

.postcard p
{
	padding: 5px;
	margin-top: 10px;
}

h1
{
	font-size: 32px;
	font-weight: 400;
	color: #39a5f1;
	margin-top: 45px;	
	margin-bottom: 30px;
	letter-spacing: 10px; /*ROZSTRZELENIE LITER*/
	text-transform: uppercase; /*ZMIANA NA WIELKIE LITERY*/
}

/* Hover effects */

.photo1
{
	width: 450px;
    transition: transform 0.5s ease-in-out; /*PLYNNE POLSEKUNDOWE PRZEJSCIE TRANSFORMACJI PHOTO1*/
}
.photo1:hover
{
    -webkit-transform: scale(0.8); /*ZMNIEJSZENIE OBRAZKA PO NAJECHANIU KURSOREM*/
    -ms-transform: scale(0.8); /*DLA ROZNYCH PRZEGLADAREK*/
    transform: scale(0.8); /*ZMNIEJSZENIE OBRAZKA PHOTO1 PO NAJECHANIU KURSOREM*/
}

.photo2
{
	width: 450px;
    transition: all 0.5s ease-in-out; /*POLSEKUNDOWE PRZEJSCIE WLASCIWOSCI TRANSFORM ORAZ OPACITY, DZIEKI "all"*/
}
.photo2:hover
{
    transform: scale(0.9) rotate(5deg); /*ZMNIEJSZENIE I OBROT O 5 STOPNI W PRAWO OBRAZKA PHOTO2 PRZY NAJECHANIU KURSOREM*/
    opacity: 0.9; /*PRZEZROCZYSTOSC. 0-NIE WIDAC, 1-WIDAC*/
}

.photo3
{
	width: 450px;
    height: 278px;
    overflow: hidden;/*UKRYJ FAKT PRZEPELNIENIA DIVA, ROZMIAR ZOSTAJE TEN SAM 450PX*/
}
.photo3 img
{
    transition: all 0.7s ease-in-out; /*PLYNNE PRZEJSCIE ANIMACJI POWIEKSZENIA I PRZECHYLENIA KADRU W LEWO W CZASIE 0.7 SEKUND*/
}
.photo3:hover img
{
    -webkit-transform: scale(1.25) rotate(-5deg); /*POWIEKSZENIE I PRZECHYLENIE KADRU W LEWO*/
    -ms-transform: scale(1.25) rotate(-5deg);
    transform: scale(1.25) rotate(-5deg);
}
.photo4
{
	width: 450px;
}
.overlay4 /*NAKLADKA Z TEKSTEM NALOZONA NA OBRAZ*/
{
    position: relative; /*PRZYPISANIE OBIEKTOWI UKLADU ODNIESIENIA, DOMYSLNIE TAKIM UKLADEM JEST LEWY GORNY WIERZCHOLEK STRONY*/
    width: 450px;
    height: 278px;
}
.overlay4 .link
{
    position: absolute; /*POZWALA NA PORUSZANIE ELEMENTEM WEDLUG UKLADU ODNIESIENIA KOMENDAMI: TOP, RIGHT, LEFT BOTTOM*/
    display: block; /*ZACHOWUJE SIE JAK ELEMENT BLOKOWY*/
    width: 450px;
    height: 65px;
    background-color: #111;
    left: 0px;
    bottom: 0px;
    opacity: 0; /*ELEMENT JEST NIEWIDOCZNY DOPOKI NIE NAJEDZIEMY NA NIEGO KURSOREM*/
    transition: opacity 0.5s ease-in-out; /*PLYNNE POLSEKUNDOWE PRZEJSCIE POMIEDZY OPACITY 0, A OPACITY 0.8*/
}
.overlay4:hover .link
{
    opacity: 0.8; /*PONAJECHANIU KURSOREM NIEWIDZIALNE PHOTO4 STAJE SIE PRZEZROCZYSTE O WARTOSCI OPACITY 0.8*/
}
.photo5
{
	width: 450px;
}
.overlay5
{
    position: relative; /*PRZYPISANIE OBIEKTOWI UKLADU ODNIESIENIA, DOMYSLNIE TAKIM UKLADEM JEST LEWY GORNY WIERZCHOLEK STRONY*/
    width: 450px;
    height: 278px;
}
.overlay5 .link
{
    position: absolute; /*POZWALA NA PORUSZANIE ELEMENTEM WEDLUG UKLADU ODNIESIENIA KOMENDAMI: TOP, RIGHT, LEFT BOTTOM*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #27a38d;
    opacity: 0; /*NAKLADKA JEST NIEWIDOCZNA DOPOKI NIE NAJEDZIEMY NA NIA KURSOREM*/
    
}
.overlay5:hover .link
{
    opacity: 0.8; /*PO NAJECHANIU KURSOREM POJAWIA SIE NAKLADKA*/
}
.icon /*LUPA POBRANA Z FONTELLO ORAZ TEKST AKAPITU*/
{
    display: block; /*MA ZACHOWYWAC SIE JAK ELEMENT BLOKOWY*/
    top: 25%; /*BEZ POSITION: RELATIVE; TA KOMENDA NIC BY NIE DALA*/
    position: relative; /*PRZYPISANIE OBIEKTOWI UKLADU ODNIESIENIA, DOMYSLNIE TAKIM UKLADEM JEST LEWY GORNY WIERZCHOLEK STRONY*/
    font-size: 72px; /*POWIEKSZENIE LUPY POBRANEJ Z FONTELLO*/
}
.icon p 
{
    font-size: 20px; /*ZMNIEJSZENIE CZCIONKI SAMEGO AKAPITU*/
}
.photo6
{
	width: 450px;
    height: 278px;
    overflow: hidden; /*UKRYJ FAKT PRZEPELNIENIA DIVA, ROZMIAR ZOSTAJE TEN SAM 450PX*/
}
.photo6 img
{
    transition: all 0.5s ease-in-out; /*POLSEKUNDOWA ANIMACJA PRZEJSCIA POWIEKSZENIA*/
}
.photo6:hover img
{
    -webkit-transform: scale(1.25);/*ZMIANA OBRAZKA PRZEZ POWIEKSZENIE GO PRZY NAJECHANIU KURSOREM*/
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}